.DS_Store
node_modules/
dist/
.env
.env.local
*.log
.cache
.vscode/*
!.vscode/extensions.json
*.pyc
__pycache__/
.pytest_cache/
*.pem
venv/
env/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
.idea
.vscode-test
.history
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
coverage/
